{{#each props}}
    <div class="item" id="property-{{id}}">
      <div class="right floated content">
        <button class="ui icon mini button basic secondary" onclick="deleteIndividualMappingProperty('{{../this._id}}', '{{id}}', '{{type}}')" title="Click to delete this property">
          <i class="large trash alternate outline middle aligned icon"></i>
        </button>
      </div>
      <div class="content">
        <div class="header">
          <font color="#2f4f4f">IRI: </font>{{name}}
        </div>
        <div class="description">
          <i>Tags used</i>: {{nodes}}
        </div>
      </div>
    </div>
{{/each}}