<h5 class="ui center aligned header" id="property-header">
    <button class="ui icon circular button basic secondary" onclick="createDataProperty('{{nodeId}}');">
        <i class="icon plus"></i>
    </button>
    DATA PROPERTIES
</h5>
<div class="dproperty-to">
    <div id="dproperty-to-term">
    </div>
</div>
<div class="ui fluid selection dropdown">
    <input name="select-dproperty-type" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select data property type</div>
    <div class="menu" id="dataproperties-menu">
    {{#each this.dpropertyTypes}}
        <div class="item" data-value" {{this}}">
        {{this}}
    </div>
    {{/each}}
    </div>
</div>
<div class="ui fluid multiple search selection dropdown" id="select-dproperty">
    <input name="select-dproperty" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select data properties</div>
    <div class="menu" id="dataproperties-menu">
        {{#each this.dproperties}}
            <div class="item" data-value" {{this}}">
                {{this}}
            </div>
        {{/each}}
    </div>
</div>
