<div id="{{nodeId}}">
    <div class="ui left labeled button fluid" tabindex="0">
        <a class="ui basic right pointing label fluid">
            Add data properties
        </a>
        <div class="ui button compact" onclick="createDataProperty('{{nodeId}}');">
            <i class="paperclip icon"></i> ADD
        </div>
    </div>
    <div class="dproperty-to">
        <div id="dproperty-to-term">
        </div>
        <div id="dproperty-to-concept">
        </div>
    </div>
    <select class="ui fluid dropdown selection" id="dproperties-selection" onchange="changeOntologyMapping('dproperties');">
        <option value="">Data property</option>
        {{#each this.dproperties}}
            <option value="{{this}}">
                {{this}}
            </option>
        {{/each}}
    </select>
    <hr>
    <div class="ui left labeled button fluid" tabindex="0">
        <a class="ui basic right pointing label fluid">
            Add object properties
        </a>
        <div class="ui button compact" onclick="createObjectProperty('{{nodeId}}');">
            <i class="paperclip icon"></i> ADD
        </div>
    </div>
    <div class="oproperty-to">
        <div id="oproperty-to-term">
        </div>
        <div id="oproperty-to-concept">
        </div>
    </div>
    <select class="ui fluid dropdown selection" id="oproperties-selection" onchange="changeOntologyMapping('oproperties');">
        <option value="">Object property</option>
        {{#each this.oproperties}}
            <option value="{{this}}">
                {{this}}
            </option>
        {{/each}}
    </select>
</div>