<!-- Navbar -->
{{> navbar}}
<div class="ui body-content index-body" id="files-content">
    <div class="ui internally celled two column grid">
        <div class="ten wide column">
            <div class="ui internally celled grid">
                <div class="row">
                    <div class="eight wide column"  id="files-content-column">
                        <h5 class="ui center aligned icon header">
                            <i class="circular file alternate outline icon"></i>
                            DATA FILES
                        </h5>
                        <div>
                            <div class="ui action input fluid" id="add-data-file">
                                <input type="text" id="data-file-input-text" placeholder="Data file name">
                                <input type="file" id="data-file-input" class="file-input" accept=".xml,.json">
                                <div class="ui icon basic button" onclick="submitFile('data-file', '/dataFile')" title="Click to add this data file">
                                    <i class="plus icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ui fluid multiple search selection dropdown files-dropdown">
                            <input name="data-files" value="data-files" type="hidden">
                            <i class="dropdown icon"></i>
                            <input class="search">
                            <div class="default text">Data files..</div>
                            <div class="menu" id="data-file-menu">
                                {{#each dataFiles}}
                                    <div class="item" id="{{_id}}">{{name}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column" id="files-content-column">
                        <h5 class="ui center aligned icon header">
                            <i class="circular file alternate outline icon"></i>
                            ONTOLOGY FILES
                        </h5>
                        <div>
                            <div class="ui action input fluid" id="add-data-file">
                                <input type="text" id="ontology-file-input-text" placeholder="Ontology file name">
                                <input type="file" id="ontology-file-input" class="file-input" accept=".owl">
                                <div class="ui icon basic button" onclick="submitFile('ontology-file', '/ontologyFile')" title="Click to add this ontology file">
                                    <i class="plus icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ui fluid multiple search selection dropdown files-dropdown">
                            <input name="ontology-files" value="ontology-files" type="hidden">
                            <i class="dropdown icon"></i>
                            <input class="search">
                            <div class="default text">Ontology files..</div>
                            <div class="menu" id="ontology-file-menu">
                                {{#each ontologyFiles}}
                                    <div class="item" id="{{_id}}">{{name}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
                        <div class="ui compact segment" id="mapper-options">
                            <div class="centered">
                                Populate ontologies
                            </div>
                            <div class="ui fluid button basic secondary" onclick="populateOntologyWithData();" title="Click to create a populate with data with selected files">with data</div>
                            <hr>
                            <div class="ui fluid button basic secondary" onclick="populateOntologyWithoutData();" title="Click to create a populate without data with seleted files">without data</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column" id="populates-column">
            <h5>Populates</h5>
            <div class="ui relaxed divided list">
                {{#each populates}}
                    <div class="item">
                        <i class="large sitemap middle aligned icon"></i>
                        <div class="content">
                            {{#if dataFiles}}
                                <a href="/populate/data/{{_id}}" class="header">{{type}}</a>
                            {{else}}
                                <a href="/populate/nondata/{{_id}}" class="header">{{type}}</a>
                            {{/if}}
                            <div class="description">
                                Ontology Files:
                                <div class="ui horizontal list">
                                {{#each ontologyFiles}}
                                    <div class="item">
                                        {{this}}
                                    </div>
                                {{/each}}
                                </div>
                                <div></div>
                                {{#if dataFiles}}
                                    Data Files:
                                    <div class="ui horizontal list">
                                        {{#each dataFiles}}
                                            <div class="item">
                                                {{this}}
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

        </div>
    </div>
</div>
<!-- Footer -->
{{> footer}}

<script>
    $(document).ready(function() {
        $('.dropdown').dropdown({fullTextSearch: true})
    });
</script>