<!-- Navbar -->
{{> navbar}}
<div class="ui body-content" id="mapper-content">
    <div class="ui celled internally grid" id="mapper-grid">
        <div class="row">
            <div class="three wide column">
                <h5 class="ui center aligned header">
                    <i class="circular sitemap alternate outline icon"></i>
                    INDIVIDUAL MAPPING
                </h5>
            </div>
            <div class="ten wide column">
                <div>
                    TAG: {{tag}}
                </div>
               <div>
                   IRI: {{owlClassIRI}}
               </div>
            </div>
            <div class="three wide column">
                <button class="ui fluid button basic secondary">
                    SAVE
                </button>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div id="data-file-term" style="display: none"></div>
                <div class="ui internally celled grid" id="individual-content" >
                    <div class="five wide column" id="individual-data">
                        <div id="individual-tree">
                            <button class="ui circular compact icon basic button" onclick="getPopulateIndividualTree('{{popId}}','{{_id}}');">
                                <i class="angle double down icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="five wide column">
                        <h5 class="ui center aligned header">
                            <button class="ui icon circular button basic secondary" onclick="addIndividualName();" id="add-name-btn">
                                <i class="icon plus"></i>
                            </button>
                            Individual Name
                        </h5>
                        <div class="ui internally celled grid" id="individual-name-row" style="display:none;">
                            <div class="row">
                                <div class="twelve wide column">
                                    <div id="individual-name-to-term">
                                    </div>
                                </div>
                                <div class="one wide column">
                                    <button class="ui button basic secondary" id="individual-name-btn" onclick="createIndividualName('{{_id}}')">
                                        save
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="ui buttons black ten wide fields">
                            <button class="ui button" onclick="changeIndMappingContent('{{_id}}', 'aproperty');">annotation properties</button>
                            <button class="ui button" onclick="changeIndMappingContent('{{_id}}', 'dproperty');">data properties</button>
                            <button class="ui button" onclick="changeIndMappingContent('{{_id}}', 'oproperty');">object properties</button>
                        </div>
                        <div id="individual-mapping-content">
                        </div>
                    </div>
                    <div class="six wide column">
                        <h5 class="ui center aligned header">
                            Properties that you mapped
                        </h5>
                        <div class="ui middle aligned divided list" id="properties-list">
                            {{#each this.properties}}
                                <div class="item" id="property-{{id}}">
                                    <div class="right floated content">
                                        <button class="ui icon mini button basic secondary" onclick="deleteIndividualMappingProperty('{{id}}', '{{type}}')">
                                            <i class="large trash alternate outline middle aligned icon"></i>
                                        </button>
                                    </div>
                                    <div class="content">
                                        <a class="header">
                                            {{owlClassIRI}}
                                        </a>
                                        <div class="description">
                                            {{nodes}}
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
{{> footer}}

<script>
    $(document).ready(function() {
        $('.dropdown').dropdown({fullTextSearch: true})
    });
</script>