<!-- Navbar -->
    {{> navbar}}
<div class="ui body-content" id="mapper-content">
    <div class="ui internally celled three column grid" id="mapper-grid">
        <div id="data-file-content" class="five column">
            <div id="data-file-data">
                <div id="data-file-tree-{{dataFileId}}">
                    <button class="ui circular compact icon basic button" onclick="getDataFileTree('{{dataFileId}}');">
                        <i class="angle double down icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="five column">
            <div id="data-file-term" style="display: none">classes-to-term</div>
            <div class="ui vertical segments" id="mapper-segment">
                <div class="segment mapper-segment">
                    <div class="ui left labeled button fluid" tabindex="0">
                        <a class="ui basic right pointing label fluid">
                            Individual mapping
                        </a>
                        <div class="ui button compact" onclick="createIndMapping('{{dataFileId}}', '{{ontologyFileId}}');">
                            <i class="paperclip icon"></i> Create
                        </div>
                    </div>
                    <div class="classes-to">
                        <div id="classes-to-term">
                        </div>
                        <div id="classes-to-concept">
                        </div>
                    </div>
                    <hr>
                    <select class="ui fluid dropdown selection" id="classes-selection" onchange="changeOntologyMapping('classes');">
                       <option value="">Class</option>
                       {{#each this.classes}}
                           <option value="{{this}}">
                               {{this}}
                           </option>
                       {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="six column">
            <div class="ui buttons black fluid">
                <button class="ui button" onclick="">Individual mappings</button>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
    {{> footer}}