<!-- Navbar -->
{{> navbar backward='/populate'}}
<div class="ui body-content" id="mapper-content">
    <div class="ui internally celled grid" id="mapper-grid">
        <div class="eight wide column" id="classes-segment">
            <h5 class="ui center aligned icon header">
                <i class="circular sitemap alternate outline icon"></i>
                INDIVIDUAL
            </h5>
            <hr>
            <h5 class="ui center aligned header">
                Choose an OWL class and write a TAG to create an individual
            </h5>
            <div id="classes-to-individual">
            </div>
            <div class="ui labeled input fluid">
                <div class="ui label">
                    Name
                </div>
                <input id="individual-name" placeholder="Individual name" type="text">
            </div>
            <div class="ui fluid search selection dropdown classses-menu" id="classes-list">
                <input name="select-class" type="hidden">
                <i class="dropdown icon"></i>
                <div class="default text">Select class</div>
                <div class="menu" id="individual-classes-menu">
                    {{#each this.classes}}
                        <div class="item" id="{{ontologyId}}">{{IRI}}</div>
                    {{/each}}
                </div>
            </div>
            <h5 class="ui center aligned header" id="create-individual-btn">
                <button class="ui button basic secondary" onclick="createIndividual('{{_id}}');" title="Click to create an individual">
                    Create individual
                </button>
            </h5>
        </div>
        <div class="eight wide column">
            <div class="ui middle aligned divided list" id="individual-list">
                {{#each this.indMappings}}
                    <div class="item" id="individual-{{_id}}">
                        <div class="right floated content">
                            <button class="ui icon mini button basic secondary" onclick="deleteIndividual('{{_id}}', '{{../this._id}}')" title="Click to delete this individual">
                                <i class="large trash alternate outline middle aligned icon"></i>
                            </button>
                        </div>
                        <div class="content">
                            <a class="header" href="/populate/nondata/{{../this._id}}/individual/{{_id}}">
                                {{individualName}}
                            </a>
                            {{owlClassIRI}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
{{> footer}}

<script>
    $(document).ready(function() {
        $('.dropdown').dropdown({fullTextSearch: true})
    });
</script>