<!-- Navbar -->
{{> navbar}}
<div class="ui body-content" id="mapper-content">
    <div class="ui internally celled grid" id="mapper-grid">
        <div id="data-file-content" class="five wide column">
            <div id="data-file-data">
                <div id="data-file-tree">
                    <button class="ui circular compact icon basic button" onclick="getPopulateTree('{{_id}}');" title="Click to show the populate tree ">
                        <i class="angle double down icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="eleven wide column" id="mapper-segment">
            <h5 class="ui center aligned icon header">
                <i class="circular sitemap alternate outline icon"></i>
                INDIVIDUAL MAPPING
            </h5>
            <hr>
            <div id="data-file-term" style="display: none">classes-to-term</div>
            <div class="ui internally celled grid">
                <div class="eight wide column" id="create-mapping">
                    <h5 class="ui center aligned header">
                        Choose a node to mapper and the respective OWL class
                    </h5>
                    <div id="classes-to-term">
                    </div>
                    <div class="ui fluid search selection dropdown classes-menu">
                        <input name="select-class" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select class</div>
                        <div class="menu" id="classes-menu">
                            {{#each this.classes}}
                                <div class="item" data-value="{{IRI}}" id="{{ontologyId}}">
                                    {{IRI}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    <h5 class="ui center aligned header" id="create-individual-mapping-btn">
                        <button class="ui button basic secondary" onclick="createIndividualMapping('{{_id}}');" title="Click to create an individual mapping">
                            Create individual mapping
                        </button>
                    </h5>
                    <hr>
                    <h5 class="ui center aligned header" id="create-individual-mapping-btn">
                        <a href="/populate/data/{{_id}}/mapping">
                            <button class="ui button basic secondary" title="Click to create a mapping">
                                Create mapping
                            </button>
                        </a>
                    </h5>
                    {{#if chaosid}}
                        <h5 class="ui center aligned header">
                            <button class="ui button basic secondary" title="Click to generate output file" onclick="generateOutputFile('{{_id}}')">
                                Output file
                            </button>
                        </h5>
                    {{/if}}
                </div>
                <div class="eight wide column">
                    <h5 class="ui center aligned header">
                        Already exist
                    </h5>
                    <div class="ui middle aligned divided list" id="individual-mapping-list">
                        {{#each this.indMappings}}
                            <div class="item" id="individual-mapping-{{_id}}">
                                <div class="right floated content">
                                    <button class="ui icon mini button basic secondary" onclick="deleteIndividualMapping('{{_id}}', '{{../this._id}}')" title="Click to delete this individual mapping">
                                        <i class="large trash alternate outline middle aligned icon"></i>
                                    </button>
                                </div>
                                <div class="content">
                                    <a class="header" href="/populate/data/{{../this._id}}/individual/{{_id}}">
                                        {{tag}}
                                    </a>
                                    <div class="description">
                                        {{owlClassIRI}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
{{> footer}}

<script>
    $(document).ready(function() {
        $('.dropdown').dropdown({fullTextSearch: true})
    });
</script>