<div class="eight wide column">
    <h5 class="ui center aligned header" id="property-header">
        DATA PROPERTIES
        <div class="ui buttons right floated">
            <button class="ui icon tiny button basic secondary" onclick="clearDataFileNodeToMapping()" title="Click to clean selected nodes">
                <i class="icon trash outline"></i>
            </button>
            <button class="ui icon tiny button basic secondary" onclick="createIndividualMappingDataProperty('{{_id}}')" title="Click to add selected nodes as data property">
                <i class="icon save outline"></i>
            </button>
        </div>
    </h5>
    <div id="data-property-to-term">
    </div>
    <div class="ui fluid search selection dropdown" id="select-dproperty">
        <input name="select-dproperty" type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">Select data properties</div>
        <div class="menu" id="data-properties-menu">
            {{#each this.dproperties}}
                <div class="item" data-value="{{this}}">{{this}}</div>
            {{/each}}
        </div>
    </div>
    <div class="ui fluid selection dropdown">
        <input name="select-dproperty-type" type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">Select data property type</div>
        <div class="menu" id="data-property-type-menu">
            {{#each this.dpropertyTypes}}
                <div class="item" data-value="{{this}}">{{this}}</div>
            {{/each}}
        </div>
    </div>
</div>
<div class="eight wide column">
    <div class="ui middle aligned divided list" id="data-properties-list">
        {{> individualMappingProps props=this.dataProperties _id=this._id}}
    </div>
</div>